* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f7f7f7;
  font-family: '微软雅黑';
}

input {
  background: none;
  border: none;
  outline: none;
}

button {
  border: none;
  background: none;
}

button:focus {
  outline: 0;
}

select {
  background: none;
  border: none;
  display: block;
  outline: none;
}

header {
  position: relative;
}

header .bg {
  width: 100%;
}

header .bg img {
  display: block;
  width: 100%;
}

header .info {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 15px;
}

header .info .info-l {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

header .info .info-l .avator {
  display: flex;
  width: 56px;
  height: 56px;
  border-radius: 999px;
  overflow: hidden;
}
header .info .info-l .avator img {
  display: block;
  width: 100%;
}

header .info .info-l .info-detail {
  flex: 1;
  padding-left: 20px;
}

header .info .info-l .info-detail p {
  margin: 0;
  color: #fff;
}
header .info .info-l .info-detail span {
  color: #fff;
  font-size: 12px;
}

header .info .info-r span {
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: cornflowerblue;
  height: 20px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 6vw;
  font-size: 12px;
  padding: 6px;
  line-height: 20px;
}
header .info .info-r em {
  font-weight: bolder;
  font-style: normal;
}

.content {
  width: 100vw;
  box-sizing: border-box;
  padding: 4vw;
  margin-top: 0;
}

.main {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
}
.rectangle {
  width: 100%;
  height: 26vw;
  background-color: #fff;
  padding: 3vw 3vw;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 4px #aaa;
}
.search {
  position: relative;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  background: #f3f3f3;
  border-radius: 999px;
  box-sizing: border-box;
}
.search .select {
  width:10em;
}
.search .select select {
  font-size: 14px;
  color: #999;
  margin: 0;
  width: 100%;
  padding: 5px 0;
}
.search .select select option {
  color: #999;
}
.search img.icon {
  display: block;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  padding: 5px 5px;
}
.search input {
  flex: 1;
  padding: 5px 0;
  padding-left: 10px;
  font-size: 14px;
  color: #333;
}
.search input::placeholder {
  color: #ccc;
}
.search button {
  border-radius: 999px;
  font-size: 12px;
  background-color: #2589fd;
  color: #fff;
  padding: 8px 10px;
  box-sizing: border-box;
  width: 100px;
}

.tab {
  list-style: none;
  display: flex;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 0;
}
.tab li {
  display: inline-block;
  flex: 1;
  text-align: center;
  padding-bottom: 0.8em;
}

.tab li.active {
  border-bottom: 2px solid #2589fd;
  color: #2589fd;
}
.box {
}
.box .active {
  display: block;
}
.box .container {
  display: none;
}
.order {
  width: 92vw;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 10px;
  position: relative;
}
.order-detail ul {
  padding-top: 3vw;
  color: #aaa;
  padding-left: 40px;
}
.order-detail ul li {
  height: 6.6667vw;
  line-height: 6.6667vw;

  font-size: 12px;
}
.order-detail ul li span {
  color: #000;
}

.order-detail ul li .status {
  position: absolute;
  right: 4vw;
  color: #46c0fc;
}
.order-detail ul li .uncomment {
  color: #ff5f42;
}
.comment-link {
  position: absolute;
  right: 10px;
  bottom: 50px;
  background-color: #07ce8f;
  padding: 8px;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-size: 12px;
}
.comment-code {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #46c0fc;
  padding: 8px;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-size: 12px;
}

.loading-text {
  font-size: 12px;
  color: #999;
  text-align: center;
  padding: 10px 0;
}


#changeICON{
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  display: inline-block;
  font-size: 12px;
  background: chocolate;
  font-style: normal;
  padding: .2rem;
  text-align: center;
}

#change{
  /* position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  display: inline-block;
  font-size: 12px;
  background: chocolate;
  font-style: normal;
  padding: .2rem;
  text-align: center; */
}




#pop{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.show-box{
  width: 80%;
  height: 14rem;
  background-color: #fff;
  border-radius: 1rem 1rem;
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 12;
  padding: 0 0.32rem;
  box-sizing: border-box;
  display: none;
}

.show-box .title {
  text-align: center;
  line-height: 3rem;
  /* border-bottom: 1px solid #eee; */
  /* font-weight: bolder; */
}

.IDlist{

}

.IDlist div{
  margin: 0 auto;
  text-align: center;
  height: 2.4rem;
  line-height: 2.4rem;
}

.IDlist div:nth-child(1) button{
  background-color: #46c0fc;
  display: inline-block;
  width: 40%;
  line-height: 1.5rem;
  font-size: 14px;
  border-radius: .2rem;
}

.IDlist div:nth-child(2) button{
  /* background-color: #46c0fc; */
  border:1px solid #46c0fc;
  display: inline-block;
  width: 40%;
  font-size: 14px;
  line-height: 1.5rem;
  border-radius: .2rem;
}


.avators {
  text-align: center;
    padding: 1rem 0 0 0;
}
.avators div{
  position: relative;
  height: 4rem;
}
.avators img{
  width: 20%;
  border-radius: 50%;
}

.avators img:nth-child(1){
  /* animation: scaleUp 4s normal forwards; */
  /* transition: scale(1.1) 4s; */
  /* animation-fill-mode: forwards; */
  position: absolute;
  left: 35%;
}

.avators img:nth-child(2){
  /* animation: scaleDown 4s normal forwards; */
  /* animation-fill-mode: forwards; */
  position: absolute;
  left: 50%;
}
/* .IDlist p{
  height: 3rem;
  text-align: center;
  border-bottom: 1px solid #eee;
  line-height: 3rem;
}

.IDlist p span{
  color:#46c0fc;
  font-size: 14px;
  
} */

@keyframes scaleUp {
  0% {
	  transform:scale(.8);
  }
  25% {
	  transform:scale(.9);
  }
  50% {
	transform:scale(1);
  }
75% {
	transform:scale(1.1);
  }

100% {
    transform:scale(1.1);
  }
}

@keyframes scaleDown {
  0% {
	  transform:scale(1.1);
  }
  25% {
	  transform:scale(1);
  }
  50% {
	transform:scale(.9);
  }
75% {
	transform:scale(.8);
  }
  100% {
    transform:scale(.8);
    }
}


.clearfix:after{
  content: "020"; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;  
  }

.clearfix {
  /* 触发 hasLayout */ 
  zoom: 1; 
  }